section {
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  font-weight: 700;
  width: 100%;
}

input {
  width: 100%;
}

button[type="submit"] {
  align-self: end;
  margin-top: 20px;
  width: 15%;
  min-width: 80px;
}

.user-filters {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .user-filters {
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
