<section>
  <h2>Filtrar</h2>
  <form (ngSubmit)="searchUsers()" class="user-filters" id="userFilter">
    <label for="userFilterName">Nombre
      <input type="text" id="userFilterName" aria-label="name" name="name" [(ngModel)]="userFilter.name">
    </label>
    <label for="userFilterSurnames">Apellidos
      <input type="text" id="userFilterSurnames" aria-label="surnames" name="surnames" [(ngModel)]="userFilter.surnames">
    </label>
    <label for="userFilterEmail">Email
      <input type="text" id="userFilterEmail" aria-label="email" name="email" [(ngModel)]="userFilter.email">
    </label>

  </form>
  <button type="submit" form="userFilter">Filtrar</button>
</section>
