<div class="pagination-wrapper">
  <button [ngClass]="{'hidden': currentPage===1}" (click)="previousPage()">Anterior</button>
  <input type="number" name="currentPage" id="currentPage"
    aria-label="currentPage" [ngModel]="currentPage" readonly>
  <button [ngClass]="{'hidden': currentPage===totalPages}" (click)="nextPage()">Siguiente</button>
</div>
