@import '~@fontsource/zen-maru-gothic/400.css';
@import '~@fontsource/zen-maru-gothic/700.css';

:root {
  --body-font-family: 'Zen Maru Gothic', sans-serif;
  --primary-color: #443cdf;
  --primary-color-dark: #2a258f;
  --secondary-color: #C4D4FF;
  --secondary-color-light: #e5ecff;
  --secondary-color-extralight: #f2f5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
  font-size: clamp(0.8rem, 2vw, 1rem);
  background-color: var(--secondary-color-extralight);
}

h2 {
  font-size: 1.4em;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 100svh;
  height: 100svh;
  padding: 2% 5%;
}

input, button {
  border-radius: 10px;
  padding: 7px 15px;
  border: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

input {
  background-color: var(--secondary-color-light);
}

button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

button:hover {
  background-color: var(--primary-color-dark);
}

table {
  border-collapse: collapse;
}

table thead {
  background-color: var(--secondary-color);
}

table thead th, table tbody td {
  padding: 5px 10px;
}

table tbody {
  background-color: white;
}

table thead th:first-of-type {
  border-top-left-radius: 10px;
}
table thead th:last-of-type {
  border-top-right-radius: 10px;
}

table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}
