<section>
  <h2>Resultados</h2>

    <table aria-label="Users">
      <thead>
        <tr>
          <th class="column column-small">ID</th>
          <th class="column column-medium">Nombre</th>
          <th class="column column-medium">Primer apellido</th>
          <th class="column column-medium">Segundo apellido</th>
          <th class="column column-large">Email</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!loading; else loadingSpinner">
          <ng-container *ngIf="users.length; else emptyData">
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.surname1}}</td>
              <td>{{user.surname2}}</td>
              <td>{{user.email}}</td>
            </tr>
          </ng-container>
          <ng-template #emptyData>
            <tr>
              <td colspan="5">No hay coincidencias</td>
            </tr>
          </ng-template>
        </ng-container>
        <ng-template #loadingSpinner>
          <tr>
            <td colspan="5" class="td-loader">
              <div class="loader"></div>
            </td>
          </tr>

        </ng-template>
      </tbody>
    </table>
    Mostrando {{offset + (users.length?1:0)}}-{{offset+users.length-totalEmptyRows}} de {{totalUsers}} resultados
    <shared-table-pagination></shared-table-pagination>
</section>
